fastapi[standard]
uvicorn
dotenv
pvporcupine
pyaudio
numpy
SpeechRecognition
gTTS
GPIO
RPi.GPIO
pigpio
requests
simpleaudio
adafruit-circuitpython-irremote
adafruit-blinka
adafruit-circuitpython-ssd1306
pillow
luma.oled