fastapi[standard]
uvicorn
dotenv
pvporcupine
pyaudio
numpy
SpeechRecognition
gTTS
GPIO
RPi.GPIO
pigpio
requests
simpleaudio
adafruit-blinka
adafruit-circuitpython-irremote
adafruit-circuitpython-ssd1306
adafruit-circuitpython-neopixel
pillow
luma.oled
rpi_ws281x
